### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Checking import of data worked and understanding data structure
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
## Option 1:  Throw selected column data into new dataframe and use the .count method
#player_count_df = purchase_data_df["SN"]
#player_count_df.count()

In [3]:
## Option 2:  Use existing dataframe and utilize the .describe method.  Drawback:  lists additional
# unnecessary information at the same time.  This is also a gross count, meaning duplicate purchases
# by the same user will inflate the number.

#purchase_data_df.describe()

In [4]:
## Option 3:  Use the .nunique method to count only unique values.
#purchase_data_df.nunique()

In [5]:
## Option 3 continued:  The above result is a great illustration of commentary in option 2.
# The unique accounts of "Purchase ID" and "SN" differ significantly - So our final solution here 
# will be to contrain our query to the "SN" column. [ Cite your sources:  Found this solution
# via the amazing Stack Overflow, 
# https://stackoverflow.com/questions/15411158/pandas-countdistinct-equivalent ].

## For presentation purposes I'm adding a descriptive statement alongside the result.
players = purchase_data_df["SN"].nunique()

print(f"Total Player Count:  {players}")

Total Player Count:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
## Unique Item Count task.  Using the .value_counts method to pull out uniques and then the
# len function to count the objects in that new list.

unique_item_count = len(purchase_data_df["Item ID"].value_counts())

## Average Purchase Price task.  Straight-forward, using .mean method.
avg_purch_price = purchase_data_df["Price"].mean()

## Total Purchases Task.  Using .count method.
total_purch = purchase_data_df["Purchase ID"].count()

## Total Revenue Task.  Using .sum method.
total_revenue = purchase_data_df["Price"].sum()

## Creating new summary dataframe to combine the above calculations
# using the pd.DataFrame method going to smash to gether the calcs above.  Is this technically
# a dictionary since we're using the format of Key:value pairs?
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                  "Avg Purchase Price": [avg_purch_price],
                                  "Total Purchases": [total_purch],
                                  "Total Revenue": [total_revenue]
                                 })

## Gonna go for that sweet optional bonus and format the columns via mapping method
purchase_analysis_df["Avg Purchase Price"] = purchase_analysis_df["Avg Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Avg Purchase Price  Total Purchases Total Revenue
0                     179              $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Use Groupby method for the gender analysis
demo_gender_detail_df = purchase_data_df.groupby(["Gender"])
# Calculate number of distinct users
demo_gender_count = demo_gender_detail_df["SN"].nunique()
# Calculate percentage
demo_gender_percent = demo_gender_count / players
demo_gender_percent = demo_gender_percent.map("{:.2%}".format)
#combine into new dataframe vai pd.DataFrame method
demo_gender_summary = pd.DataFrame({"Gender Count": demo_gender_count,
                                   "Percent": demo_gender_percent})
demo_gender_summary.sort_values(["Gender Count"], ascending = False)

                       Gender Count Percent
Gender
Male                            484  84.03%
Female                           81  14.06%
Other / Non-Disclosed            11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Count calc
purch_gender_purch_count = demo_gender_detail_df["Purchase ID"].count()

#purch avg calc
purch_gender_purch_avg = demo_gender_detail_df["Price"].mean()

#Total Purch calc
purch_gender_purch_tot = demo_gender_detail_df["Price"].sum()

#Avg Total Purch Calc
purch_gender_tot_avg = purch_gender_purch_tot / demo_gender_count

purch_gender_summary = pd.DataFrame({"Purchase Count": purch_gender_purch_count,
                                    "Avg Purchase Price": purch_gender_purch_avg,
                                    "Total Purchase Amt": purch_gender_purch_tot,
                                    "Avg Total Purchase": purch_gender_tot_avg })

purch_gender_summary.index.name = "Gender"

purch_gender_summary["Avg Purchase Price"] = purch_gender_summary["Avg Purchase Price"].map("${:,.2f}".format)
purch_gender_summary["Total Purchase Amt"] = purch_gender_summary["Total Purchase Amt"].map("${:,.2f}".format)
purch_gender_summary["Avg Total Purchase"] = purch_gender_summary["Avg Total Purchase"].map("${:,.2f}".format)
purch_gender_summary

,Purchase Count,Avg Purchase Price,Total Purchase Amt,Avg Total Purchase
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [78]:
#Creating bins for the break-outs
bin_ages = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
bin_ages_titles = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#New column for the age summary
demo_age_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bin_ages, labels = bin_ages_titles)

demo_age_totals = demo_age_df["Age Groups"].value_counts()
demo_age_perc = demo_age_totals / players

demo_age_summary = pd.DataFrame({"Total Purchase By Age": demo_age_totals,
                                 "Percentage": demo_age_perc})
demo_age_summary["Percentage"] =  demo_age_summary["Percentage"].map("{:.2%}".format)


demo_age_summary.sort_index()

C:\Users\simon\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Purchase By Age Percentage
<10                       17      2.95%
10-14                     22      3.82%
15-19                    107     18.58%
20-24                    258     44.79%
25-29                     77     13.37%
30-34                     52      9.03%
35-39                     31      5.38%
40+                       12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:

purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bin_ages, labels = bin_ages_titles)

age_purch_group = purchase_data_df.groupby("Age Ranges")

age_purch_count = age_purch_group["Purchase ID"].count()
age_avg_prc = age_purch_group["Price"].mean()
age_tot_val = age_purch_group["Price"].sum()
age_avg_per_person = age_tot_val / demo_age_totals
age_summary_df = pd.DataFrame({"Purchase Count": age_purch_count,
                                "AVG Purchase Price": age_avg_prc,
                                "Total Purchases": age_tot_val,
                                "AVG Per-Person Total": age_avg_per_person })
age_summary_df

,Purchase Count,AVG Purchase Price,Total Purchases,AVG Per-Person Total
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
#multiple transactions per user, so groupby on SN is necessary
top_spend_group = purchase_data_df.groupby(["SN"])
top_spend_pur_cnt = top_spend_group.count()
#avg purch price
top_spend_pur_avg = top_spend_group["Price"].mean()
top_spend_pur_tot = top_spend_group["Price"].sum()
top_spend_summary_df = pd.DataFrame({"Purchase Count": top_spend_pur_cnt,
                                     "AVG Purchase Price": top_spend_pur_avg,
                                     "Total Purchases": top_spend_pur_tot
                                    })

top_spend_summary_df = top_spend_summary_df.sort_values("Total PUrchases", ascending = False).head()

ValueError: Shape of passed values is (7, 3), indices imply (576, 3)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80